@{
    ViewData["Title"] = "Home Page";
}


<div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/images/design-palettes.jpg'); ">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="" alt="">
                <h1 class="h1-seo"></h1>
                <h3>Prueba de conocimiento Indigo</h3>
            </div>
        </div>
    </div>
    <div class="main">        
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Menu</h2>
                        <h5 class="description">
                            <a class="btn btn-blue btn-round btn-lg" href="@Url.Action("Index", "Proveedor")">Proveedor</a><br />
                            <a class="btn btn-blue btn-round btn-lg" href="@Url.Action("Index","Producto")">Productos</a><br />
                            <a class="btn btn-blue btn-round btn-lg" href="@Url.Action("Index","Remision")">Remisión</a><br />
                        </h5>                        
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="now-ui-icons business_globe  " style="font-size: 150px; color:#2CA8FF;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

